#drawer-content {
    overflow: auto;
    position: fixed;
    border-top-left-radius: 20px;
    width: 40%;
    height: 100%;
    background: #ffffff;
    transform: translateX(150%);
    transition: 600ms;
    box-shadow: -6px 0 10px rgba(0, 0, 0, 0.16);
}

#drawer-content img {
    width: 200px;
    height: 130px;
}